<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">

   	<!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script src="../../js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
    <script src="../../js/jquery.ztree.all.js" th:src="@{/js/jquery.ztree.all.js}"></script>
    <script src="../../js/jquery-treegrid/jquery.treegrid.min.js" th:src="@{/js/jquery-treegrid/jquery.treegrid.min.js}"></script>
    <script src="../../js/jquery-treegrid/jquery.treegrid.bootstrap3.js" th:src="@{/js/jquery-treegrid/jquery.treegrid.bootstrap3.js}"></script>
    <script src="../../js/jquery-treegrid/jquery.treegrid.extension.js" th:src="@{/js/jquery-treegrid/jquery.treegrid.extension.js}"></script>
    <script src="../../js/bootstrap/bootstrap-table.min.js" th:src="@{/js/bootstrap/bootstrap-table.min.js}"></script>
    <script src="../../js/bootstrap/bootstrap-table-object.js" th:src="@{/js/bootstrap/bootstrap-table-object.js}"></script>
    <script src="../../js/bootstrap/locale/bootstrap-table-zh-CN.js" th:src="@{/js/bootstrap/locale/bootstrap-table-zh-CN.js}"></script>
    <script src="../../js/bootstrap/tree-table-object.js" th:src="@{/js/bootstrap/tree-table-object.js}"></script>
    <script src="../../js/bootstrap/bootbox.min.js" th:src="@{/js/bootstrap/bootbox.min.js}"></script>

    <script src="../../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>

 </footer>

</body>
</html>